.root {
  font-size: 1.2rem;
  padding: 10px 20px 0px 20px;
}

.inputForm {
  margin: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  transform: translateY(5vh);
}

form input {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.inputForm select {
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 1rem;
}

canvas {
  border: 1px solid black;
}

.sameRow {
  display: flex;
  justify-content: space-between;
}

.sideBySide {
  display: flex;
}

.inputForm button {
  font-size: 1.2rem;
}

/* Browse page */
.icons {
  width: 12px;
  height: 12px;
}

.imageList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imageItem {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.searchForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
